<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>About Dr. Aman Dua</title>
	<meta name="description" content="Dr. Dua">
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
	body{
		
	}
</style>

<% end %>

	

<!-- <body data-spy="scroll" data-target="#my-navbar">
 --><!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="/landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->


<!--blog-->
	<div class="container amandua tagline text-left">
		<div class="row">
		<h1>Dr. Aman Dua</h1></div>
		<div class="row">
		<p>M.S. Orthopedics (AIIMS, New Delhi),<br> D.N.B. Orthopedics, M.N.A.M.S., P.G.D.H.M.<br>
		Fellowship in Bone Banking &amp; Revision Joint Surgery, Australia</p></div>
	</div>
	<div class="container">
		<section>

		<div class="row">
			<div class="col-sm-8">
				<p>Dr. Aman Dua completed his postgraduate Orthopedics training from the
						prestigious All India Institute of Medical Sciences, New Delhi. After completing
						his senior residency at Department of Orthopedics at AIIMS he went on to
						Fellowship in Revision Joint Replacement and Bone Transplantation from
						Princess Alexandra Hospital, BPH and Queensland Bone Bank, Australia. Dr.
						Aman Dua has extensive experience in the field of Primary and Revision joint
						replacement and has worked as Senior Consultant for last six years in Joint
						Replacement Unit at Primus Super Specialty Hospital, New Delhi.</p>

					<p>With an experience spanning over 11 years exclusively in the field, he has

						performed over 3000 Joint Replacement surgeries of Hip and Knee. He has many
						national and international research articles to his credit and has been selected
						for Prestigious Ranawat Orthopedic Research Foundation Fellowship. He
						specializes in the field of Complex primary Total Hip and Knee Replacement,
						Revision Hip and Knee Replacement, Computer Navigated surgeries,
						Realignment Osteotomies around the Knee and use of Bone Allograft in Joint
						Replacement Surgeries.<br>
					He is an active member of Indian Orthopedic Association and Indian Society of Hip and Knee Surgeons and has been involved in clinical research, Public awareness programs and Academic Presentations.</p>
			</div>
			<div class="col-sm-4">	
				<img src="/landing_page/dr_images/Aman Dua Profile.png" class="img-responsive" alt="Img">
			</div>
		</div>	<!--End row-->
		</section>
	</div><!--End Container-->



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Centre for Joint Replacement</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<!-- </body>	
 -->
 </html>