
<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>About Dr. Dharmesh Khatri</title>
	<meta name="description" content="Dr Dharmesh Khatri is an experienced and skilled joint replacement surgeon with more than ten years of experience.">
	<meta name="keywords" content="Dr. Aman Dua, Dr. Dharmesh Khatri, Total Knee Replacement, Total Hip replacement, Revision Knee Surgery , Centre for Joint Diseases.">
    <meta name="author" content="Dr. Aman Dua">
    

	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
	body{
		
	}
</style>

<% end %>

	

<!-- <body data-spy="scroll" data-target="#my-navbar">
 --><!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="/landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->


<!--blog-->
	<div class="container dharmesh tagline text-left">
		<div class="row">
		<h1>Dr. Dharmesh Khatri</h1></div>
		<div class="row">
		<p>MBBS, MS (Orthopedics) AIIMS<br>
		Fellowship in Joint Replacement and Bone Banking<br>
		Visiting Fellow Mount Sinai Hospital, Canada</p></div>
	</div>
	<div class="container">
		<section>

		<div class="row">
			<div class="col-sm-8">
				<p>Dr Dharmesh Khatri is an experienced and skilled joint replacement surgeon with more than ten years of experience.<br> He has done his M. S. in Orthopedics from prestigious All India Institute of Medical Sciences (AIIMS), New Delhi and further worked there as Senior Resident and Fellow in Joint Replacement Surgery. <br>
				He was visiting fellow at Mount Sinai Hospital, Toronto, Canada under Dr Allan Gross where he gained good experience in Revision Surgery.</p>

					<p>Dr. Dharmesh Khatri has vast experience in all aspects of Joint Replacement surgery including management of complex deformitites, revision surgery, two-stage revision, Navigation and Unicondylar knee replacement. He was working as Senior Consultant in Joint replacement Unit , Primus Hospital for last six years before joining Action Balaji Hospital.<br> He has numerous publications to his credit in both national and international journals.<br> He has been faculty and instructor in numerous conferences and involved in training of young Orthopedic surgeons in Knee and hip replacement.</p>
			</div>
			<div class="col-sm-4">	
				<img src="/landing_page/dr_images/Dharmesh.png" class="img-responsive" alt="Img">
			</div>
		</div>	<!--End row-->
		</section>
	</div><!--End Container-->



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Centre for Joint Diseases</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<!-- </body>	
 --></html>