
<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Frequently Asked Questions</title>
	<meta name="description" content="Dr. Dua">
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
	body{
		
	}
</style>

<% end %>

	

<!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="#contact" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->

<!--Upper Section-->

	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1>FREQUENTLY ASKED QUESTIONS</h1></div>
		<div class="row">
		<p></p></div>
	</div>
		<!--End Container-->


<!--Image Section-->
<!-- <div>
	<img src="knee.jpg" class="img-responsive">
</div> -->

<!--blog-->
	<div class="container faq">
		<section>
				<div class="row">
				<div class="col-lg-10">
				<div class="container">
		<section>
				<div class="page-header" id="faq">
		<h2>Revision Joint Replacement – <br><small>Some common Questions</small></h2>
		</div> <!--End Page Header-->

		<div class="panel-group" id="accordion">
		<!-- First Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-1" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What is Revision Joint Replacement or Redo surgery of joints?</a>
					</div><!--End Panel Title-->
					<div id="collapse-1" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Revision or redo surgery of joints involve removing the earlier/older implants from the patient and replacing them with new implants.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End First Question -->

		<!-- Second Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-2" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> Why does one need a Revision? Why Joints fail?</a>
					</div><!--End Panel Title-->
					<div id="collapse-2" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> There are three main reasons for revision or for the Joints to fail. These reasons may coexist or exist in isolation.
							<li>1. Implant Loosening (with Infection / without Infection / Fracture)</li>
							<li>2. Wear related damage to the implant primarily Polyethylene inserts or liners</li>
							<li>3. Instability (recurrent dislocation or other symptoms of instability)</li>
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Second Question -->

		<!-- Forth Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-4" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> I had a joint done in past, how do I know I need a Revision surgery?</a>
					</div><!--End Panel Title-->
					<div id="collapse-4" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Recurrence of earlier symptoms like pain and swelling not preceded by any known injury, gradually worsening start up pain that remains unrelieved after short course of anti-inflammatories or analgesics should warrant a evaluation and could possibly be due to loosening or wear.<br>

							Instability may present with frank dislocation and abnormal movement at joint or subtle symptoms like Vague Anterior Knee Pain, Recurrent Effusions, Soft Tissue Tenderness and Difficulty Climbing up and down stairs.<br>

							Infection may present with Increased pain, swelling in joint and discharging sinus. Fever may also be present without any other appreciable cause.<br>

							Regular follow-ups with the clinician and interval radiographs are important to detect polyethylene wear or failure due to bone collapse earlier and limit the bone damage that may sue.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Forth Question -->

		<!-- Fifth Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-5" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What happens if I delay the Revision Surgery?</a>
					</div><!--End Panel Title-->
					<div id="collapse-5" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Once the loosening, infection, Instability or wear of component has been diagnosed, long delays increases the amount of bone damage and stretching of the soft tissues / ligaments and may increase the magnitude of revision surgery
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Fifth Question -->

		<!-- Sixth Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-6" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What makes revision surgery more complex?</a>
					</div><!--End Panel Title-->
					<div id="collapse-6" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> At the time of primary surgery the bone and ligaments are in their natural state, but during the revision surgery there is variable bone loss and soft tissue imbalance due to loosening / infection which need to be addressed, moreover, older implants, bone cement and debris need to be carefully removed to limit the damage (some bone loss is always accompanied with removal of implant). These things add to complexity and duration of the revision procedure.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Sixth Question -->

		<!-- Seventh Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-7" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> Are the Revision implants any different from Primary (first surgery) joint replacement implants?</a>
					</div><!--End Panel Title-->
					<div id="collapse-7" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Yes, the revision implants are more bulky, more constrained (for stability due to ligament deficiency) and expensive.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Seventh Question -->

		<!-- Eighth Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-8" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What is the difference between life or longevity of a Primary and Revision Surgery?</a>
					</div><!--End Panel Title-->
					<div id="collapse-8" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Longevity or Life of revision surgery is generally expected to be lesser than the Primary or First Surgery. As the constraint in the implant (provisions for extra stability) increases the longevity of the implant decreases. Poor quality of Bone and significant bone loss at the time of revision surgery also adversely affects the life of revision surgery.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Eighth Question -->

		<!-- Ninth Question -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a href="#collapse-9" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> Any special complication associated with Revision Joint Replacement?</a>
					</div><!--End Panel Title-->
					<div id="collapse-9" class="panel-collapse collapse"> 
						<div class="panel-body">
							<b>A:</b> Extensive exposure, increased duration of procedures, poor soft tissue difficulty in removing the older components, poor bone quality and bone loss may increase the period required for recovery and may also the risk of complications. E.g. Infection, early loosening, fractures during surgery and Instability (especially in Hips).<br>
							Taking care of all these issues, patients requiring revisions have to be evaluated thoroughly and surgery planned meticulously to minimize the risk of complications and improve longevity.
						</div>
					</div><!--end Panel Collapse-->

				</div>

			</div>
		<!-- End Ninth Question -->





		</div><!--End panel group-->

		</section>

	</div><!--End Container-->
				</div><!-- end row-->
		</section>
	</div><!--End Container-->



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Center for Joint Replacement</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  

