
<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>HIP REPLACEMENT</title>
	<meta name="description" content="Dr. Dua">
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >

<% end %>

	

<!-- <body data-spy="scroll" data-target="#my-navbar">
 --><!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->

<!--Upper Section-->

	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1>HIP REPLACEMENT</h1></div>
		<div class="row">
		<p></p></div>
	</div><!--End Container-->


<!--Image Section-->
<div>
	<img src="/landing_page/hip.jpg" class="img-responsive">
</div>

<!--blog-->
	<div class="container Hipblog">
		<section>
				<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
				<!--Blog Starts-->
					<p>TOTAL JOINT REPLACEMENT is one of the most consistently successful therapeutic measures in all of medicine and surgery today. Overall patient satisfaction with the relief of pain and enhanced mobility is, in general, extremely high.</p>

					<h3>WHAT IS ARTHRITIS?</h3>

					<p>Arthritis is the term which refers to inflammation in and around the joint. In particular, it refers to the degenerative destruction of a joint with loss of the smooth glistening surface on both the ball and the socket. As the surfaces are lost, what was previously a low friction painless joint becomes a higher friction painful joint.<br>
					There are many different causes of arthritis. The most common is the so-called primary osteoarthritis. This probably has a genetic origin and typically runs in families. Secondary degenerative arthritis or osteoarthritis follows such insults as fractures, other intra-articular trauma, avascular necrosis of the femoral head or even infection. Additional causes of arthritis include rheumatoid arthritis, gout, chronic renal failure and the ingestion of toxic products. Of course, ankylosing spondylitis is a very potent cause of end stage destruction of the joint.</p>
					<h3>WHAT ARE THE CLINICAL EFFECTS OF ARTHRITIS?</h3>

					<p>People with hip arthritis typically note a number of common features. In particular, they will be aware of a loss of range of movement. They lose the ability to extend the hip behind them, to internally rotate the foot fully and to take the leg out to the side fully. Attempts to exceed these limited ranges give rise to pain, limp and a loss of walking capacity. Patients typically note difficulties with a variety of activities of daily living such as cutting their toenails, applying shoes and socks or even dressing with underwear.</p>

					<h3>HOW CAN HIP ARTHRITIS BE MANAGED?</h3>

					<p>In general terms, there are two approaches to hip arthritis.<br><i>Non-Operative Approach</i></p>
					<p>All patients should initially undergo a non-operative therapeutic plan and this include such things as a reduction in body weight, an increase in general tone of the muscles around the hip, the ingestion of anti-inflammatory tablets, the use of a walking stick and a raise on the heel of the shoe on the affected leg. Modification of activities of daily living, physiotherapy and even the use of a wheelchair may be indicated.<br>
 
					Ultimately, these non-operative measures may fail to give rise to satisfactory relief and the arthritis results in an intolerable interruption in the normal lifestyle. When that stage is reached, the patient should consider operative intervention.</p>

					<p><i>Operative Methods of Treatment</i></p>
					<p>There are four basic forms of operative treatment for hip arthritis.
						<ul> 1. Hip Arthroscopy and debridement</ul>
						<ul>2. Osteotomy either of the thigh bone or of the pelvis, or both</ul>
						<ul>3. Formal fusion or arthrodesis of the joint such that a stiffish, painful joint is converted to a stiff, painless joint</ul></p>

					<h2>Arthroplasty or Joint Replacement</h2>
					<h3>Hip Arthroscopy</h3>
					<p>The ability to introduce a telescope into the hip joint with the subsequent production of images on a television screen is a relatively new innovation. The patient is subjected to a general anaesthetic and through three small puncture holes over the outside of the hip, a telescope and other vital instruments can be introduced into the ball and socket joint. A variety of manoeuvres can be accomplished with this operative procedure. They include the removal of loose bodies, the trimming of worn cartilage, the removal of cartilage flaps and the removal of inflamed synovium. Smoothing the joint surfaces is also possible and this may give rise to some temporary relief in patients suffering with arthritis. The duration of that relief varies from a few weeks to possibly a year or more. Individual variations or responses to this treatment prevent the supply of any form of guarantee.</p>
					<h3>Osteotomy for Hip Arthritis</h3>
					<p>The term osteotomy literally means division of a bone. By dividing bones and changing directions of forces before the bones reunite, the net forces being applied to the ball and socket joint can also be altered. Not only can we change the direction of the force but even the magnitude of the force can be altered.</p>
					<p>In younger patients, this approach may give rise to satisfactory relief for up to a decade or so, thereby avoiding the potential pitfalls and problems of joint replacement in the younger patient.</p>
					<h3>Arthrodesis</h3>
					<p>This term refers to the formal operative stiffening of a joint whereby the thigh bone is joined to the pelvis. What was previously a stiffish, painful joint is converted to a stiff, painless joint. This procedure is not commonly performed but it does still have some specific indications. In particular, it can be of major advantage to young men who are labourers who have only one hip joint involved and who have a working life of some 40 years or more before them. Trauma to the hip joint is usually the most common precipitating event prior to an arthrodesis.</p>
					<h3>Arthroplasty</h3>
					<p>This term refers to the artificial replacement of a joint. Theoretically just one half of the joint can be replaced (the ball or thigh bone side) or alternatively the whole joint can be replaced (a total hip replacement).<br>
 
					The half hip replacements (hemi-arthroplasty) are usually used in elderly patients who have an otherwise normal hip but have sustained a fracture through the neck of the ball. This operation has little to offer patients who suffer with true arthritis.<br><br>
 
					The second option is in the form of resurfacing of the hip joint. This is a more recent innovation, involving a less aggressive removal of bone with some potential benefits for younger patients. It is akin to retreading a tyre although both sides of the joint are "<br><br>
 
					The third option is in the form of a conventional total hip replacement. Hip replacements can be used with or without bone cement (cemented or cementless). There is also a combination whereby one component may be cemented whereas the other component is noncemented. This is a so-called Hybrid hip.<br><br>
 
					The choice between resurfacing, uncemented hip replacement, Hybrid hip replacement or fully cemented hip replacement depends upon a number of variables including the age of the patient, the quality of the bone involved and other coexistent morbidities or illnesses which may interfere with post-operative rehabilitation and ambulation.</p>

					<h2>WHAT IS HIP RESURFACING?</h2>
					<p>The operation of hip resurfacing involves removal of the worn surface on the ball of the thigh bone and on the socket in the pelvis. These two surfaces are then recovered with metal components which articulate with each other or rub on each other. There are several types of resurfacing, with the Birmingham Hip being representative of the group.<br><br>
					This concept is not new. The first resurfacing procedures were performed in the early 1970's. Proponents of the operation were in the United Kingdom, the United States and Germany. Whilst the operation held some early promise, failures were soon noted. The failures appeared to be related directly to the quality of the bearing surfaces. There was a metal cap on the ball of the thigh bone with a plastic liner in the socket. The plastic liner wore prematurely and the joint failed. The microscopic debris liberated by these worn plastic sockets was taken up by scavenger cells in the body known as macrophages. These macrophages have the ability to further switch on other cells in the body which in turn degrade or dissolve bone. The mechanism of failure, therefore, in these patients was not only wearing of the socket but also very large losses of bone both in the region of the pelvis and the upper end of the thigh bone.<br><br>
					You may then ask the question - Why are we considering hip resurfacing in modern times? The difference lies in the quality of the bearing surfaces. A metal cap is still placed over the ball of the thigh bone but in these modern joints, the socket is relined by a similar metal surface. The ball and the socket are made of very special metals which in turn are very specially produced in combination with each other such that exceedingly low engineering tolerances can be achieved. Indeed sphericity guaranteed within 8 microns or 8 millionths of a metre can be achieved in a reproducible manner with these modern joints.<br><br>
					It should be appreciated, however, that these modern resurfacing joints have really only been around for the last six or eight years. The clinical studies that have been performed, whilst encouraging, are relatively short term and, although this operation is not truly experimental, it would be unrealistic to assume that this is necessarily the panacea for hip arthritis in the younger patient.
					</p>

					<h2>Potential Benefits of Hip Resurfacing</h2>
					<p>The potential benefits of hip resurfacing over conventional hip replacement
					<ul>Bone Conservation</ul>
					<ul>Earlier rehabilitation</ul> 
					<ul>Reduced risk of dislocation</ul>
					<ul>Easier revision if the joint replacement fails</ul></p>

					<h2>Potential Hazards of Resurfacing</h2>
					<p>There are a number of potential problems peculiar to resurfacing which should also be considered. They include:
					<ul>Fracture of the femoral neck just below the ball of the thigh bone</ul>
					<ul>Metallosis - the risk of liberation of small volumes of metal debris which may gain access to the blood stream. There have been some unconfirmed reports of cancerous growths following such metal debris liberation.</ul>
					The patient group most likely to benefit from hip resurfacing includes those who have unilateral disease, excellent bone quality, minimal architectural destruction of the joint and in the age group of less than 50 years.</p>
					<h2>TOTAL HIP REPLACEMENT</h2>
					<p>Unlike resurfacing, total hip replacement usually involves removal of part or all of the ball on the upper end of the thigh bone. A long metallic stem is inserted in the upper end of the thigh bone with a new ball attached. A socket is placed into the acetabulum of the pelvis. The socket component is not unlike that used for the resurfacing operation.<br><br>
					 
					The history of hip replacement dates back to the 1930's. Over the next 30 years, a number of experimental devices were manufactured and employed. It was not until 1969 that Professor Sir John Charnley in Wrightington in England designed the forerunner of the modern hip replacement prostheses. Between 1970 and the mid 1990's, dramatic developments occurred and whilst there is still some resemblance between the implants Charnley designed and modern implants, they are made of very dissimilar metals, do have dissimilar shapes and biomechanical properties and do have a longer survival rate. Indeed current survivorship studies demonstrate that 90% of patients or more can experience satisfactory function from a hip replacement for at least a decade.</p>
					<h3>Potential Benefits of Hip Replacement</h3>
					<p>The potential benefits of hip replacement include the following:
						   
						<ul>Pain relief</ul>
						<ul>Reduction or elimination of limp</ul>
						<ul>Increased range of movement of the hip</ul>
						<ul>Unlimited walking ability</ul>
						In general terms, a hip replacement will improve the quality of life of the individual.</p>
						<h3>Potential Hazards of Hip Replacement</h3>
						<p>All hip replacements (whether they be hemi-arthroplasty, resurfacing procedures or total hip replacement) have a number of common potential complications. They include the following:<br><br>
 
						Death resulting from anaesthesia, stroke or other related events (less than 1%)<br><br>
 
						Deep venous thromboses - these are clots in the deep veins of the leg and occur in between 20% and 30% of patients - often unrecognised. Less than 1% of patients can expect a clot to break off and travel to the heart or lung with potentially fatal effects.<br><br>
						 
						Sepsis or infection. This can be a devastating complication and may actually result in the need to remove the joint implants for a period. Infection rates internationally are usually in the order of 1%.<br><br>
						 
						Dislocation - where the ball and socket components separate temporarily. This can usually be managed with a closed reduction but, on occasions, further surgery is required.<br><br>
						 
						Dislocation rates in the order of 2% are recorded internationally.<br><br>
						 
						Damage to major nerves or arteries supplying the leg. This can result in the need for further surgery for vascular repair or alternatively may result in permanent paralysis of part or all of the lower limb. Complications such as these typically are noted in about 1% of patients.<br><br>
						 
						Trochanteric bursitis - this refers to inflammation in the fluid-filled sac which normally resides over the outer aspect of the upper end of thigh bone. The sac is usually violated during the operative approach and, on occasions (less than 5%), can become inflamed following the operative procedure. The inflammation usually settles with time. The resolution of that discomfort can be hastened by the local administration of a Cortisone injection.<br><br>
						 
						Leg length discrepancy. Most patients with hip arthritis already have inequality of their leg lengths. This contributes in some part to their limp. The aims of the hip replacement are at least two-fold. The first is to ensure that the hip is stable with proper soft tissue tension at the conclusion of the procedure such that the risk of dislocation can be minimised. A secondary aim is to endeavour to restore leg length equality. On occasions, it is not possible to make the legs equal because of the inappropriate soft tissue tension that may be created. In those instances, it is better to have a stable joint and to make some allowances by applying a small heel raise to the shortened leg postoperatively. Discrepancies do not usually exceed something in the order of 1cm to 2cm.<br><br>
						 
						Hip replacement is indicated in patients who have suffered a failure of a thorough non-operative therapeutic plan.</p>

						<h2>CEMENTED VERSUS CEMENTLESS HIP REPLACEMENTS</h2>
						<p>We typically prefer to use noncemented implants in younger patients who have good bone quality and who would be likely to outlive the lifespan of a cemented implant. The theory is that cementless implants will last as long as cemented implants but should they fail, the cementless implants should be easier to revise. The subsequent surgery may be easier and the potential for bone loss may be reduced. I would consider a noncemented hip replacement in a patient in the 50 to 60 year old age group. Because the implants are noncemented, it is imperative that the patient's own bone joins on to the implants that have been inserted. A number of design features are incorporated into the implants such that this osseointegration does occur. In an effort to allow the osseointegration to take place, it is important that the patient does not bear weight on the limb for the first six weeks post-operatively. During that period, the patient should ambulate with crutches and avoid taking loads on the operated limb. That is not to say that the quality of life during that six week period needs to be severely diminished. I encourage my patients to attend the theatre, restaurants and go out for social outings, even on crutches.<br><br>
 
						The alternative is to have the implants fully cemented. Whilst this may give rise to early initial stability and will allow full weight-bearing immediately, there can be some problems associated with use of bone cement. Those problems appear to be more noticeable on the socket side. The problems on the thigh bone side are less apparent. Such devices are usually reserved for the older population.<br><br>
						 
						The third option is the so-called Hybrid hip. This is where one of the two prosthetic components is cemented into the bone whilst the remaining prosthetic component is not cemented. In my practice I do favour this Hybrid approach in the middle aged and older patients. I do not cement the socket into the pelvis but I do cement the metal stem into the thigh bone.</p>

					</div>
				</div><!-- end row-->
		</section>
	</div><!--End Container-->



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Center for Joint Replacement</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<!-- </body>-->
 </html>