<% content_for :for_head do %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>HIP REPLACEMENT</title>
    <meta name="description" content="Dr. Dua">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
    body{
        
    }
</style>

<% end %>

    

<body data-spy="scroll" data-target="#my-navbar">
<!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
    <div class="container"> 
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <a href="" class="navbar-brand"></a>
        </div><!--Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">

        <a href="/landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
        
        </div>
    </div><!--End Container-->
</nav><!--End navbar-->

<!--Upper Section-->

    <div class="container tagline text-left">
        <div class="row" id="MainText">
        <h1>HIP REPLACEMENT</h1></div>
        <div class="row">
        <p></p></div>
    </div><!--End Container-->


<!--Image Section-->
<div>
    <img src="/landing_page/hip.jpg" class="img-responsive">
</div>

<!--blog-->
    <div class="container Hipblog">
        <section>
                <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                <!--Blog Starts-->

                    <h3>WHAT IS THE HIP JOINT?</h3>

                    <p>The hip joint is a ball and socket joint which links the pelvis with the upper end of the thigh bone. The  ball is on the upper end of the thigh bone and this fits into a socket which is on the outer part of the pelvis. </p>
                    <h3>ARTHRITIS?</h3>

                    <p>A smooth, slippery, fibrous connective tissue called articular cartilage acts as a protective cushion between bones inside the joint. Arthritis develops as the cartilage begins to deteriorate or is lost because of wear and tear as part of aging or because of disease like Rheumatoid arthritis. As the articular cartilage is lost, joint space between the bones become narrow. This is an early sign of arthritis and is easily seen on X-Rays. Slowly over time bone ends rub against each other and wear away. This results in progressive pain and shortening. Normal activity becomes painful and difficult. Pain can even interfere with simple daily activities.<br><br> 
                    Common arthritis symptoms include pain, stiffness, some loss of joint motion, deformity, limp and shortening of limb. </p>

                    <h3>Who Develops Arthritis?</h3>

                    <ul>Primary osteoarthritis typically affects patients over 50 years of age, but is uncommon in India</ul> 
                    <ul>It is more common in persons who are overweight, or suffering from Rheumatoid arthritis or Ankylosing spondylitis. In some patients arthritis tends to run in families.</ul>
                    <ul>Other factors that can contribute to developing hip arthritis include injury to the hip (Acetabulum fracture or after fracture neck of femur), developmental abnormalities like dysplastic hip and Perthe’s disease</ul> 

                    <h3>What is the Treatment of Hip Arthritis?</h3>
                    <ul>Conservative treatment does not have a significant role in management, once hip arthritis has set in.</ul>
                    <ul>Initial treatment includes medications for pain relief, weight control and physical therapy.</ul>
                    <ul>If all these fail to produce satisfactory response, one should consider hip replacement as the last resort treatment.</ul>

                    <h2><i>Total Hip Replacement</i></h2>
                    <h3>Who Need a Hip Replacement?</h3>
                    <i>If your answer is yes to most or all the questions, you probably are a candidate for Hip replacement surgery.</i>
                    <ul>Does severe hip pain limit your activities? (walking, climbing stairs, getting in and out of chair)</ul>
                    <ul>Is your Hip stiff, which makes it difficult to move or your hip is fixed in one position?</ul>
                    <ul>Pain associated with limb shortening and limp while walking</ul>

                    <h3>Procedure</h3>
                    <p>Hip joint is exposed using a incision on the back of hip, over the buttock. Joint is exposed after separating the muscle and cutting through the capsule. The worn and damaged surface of bone and cartilage from upper end of femur (thigh bone) and pelvis are removed and shaped to accept the prosthetic implants. These surfaces are replaced with metal and plastic / Ceramic implants which closely mimic natural hip motion and function.</p>

                    <h3>Realistic Expectations</h3>
                    Ultimate goal of hip replacement surgery is pain relief and improved function.
                    <ul> Hip replacement surgery will not treat pain arising from other joints or back. Although some improvement is expected because of improve gait or walking pattern.</ul>

                    <ul> Restrictions like avoiding running, high impact aerobics and sports like tennis are to be practiced for rest of life.</ul> 

                    <ul> Extreme bending, squatting and sitting cross-leg should be avoided to prevent dislocation and wear or early loosening of implants.</ul>

                    <ul> Hip replacements last many years, but may need revision surgery when they wear out or loosen.</ul>

                    <h3>Points to remember after total Hip surgery</h3>
                    <i>After Hip replacement, certain important aspects of your recovery need to be kept in mind:</i>
                    Walking and limited post-op exercises are important and should be performed as instructed by your physiotherapist. These have to be continued lifelong.<br><br>

                    <ul>Balance rest and activity, especially early in your recovery.</ul>

                    <ul>Follow instructions to prevent clots.</ul>

                    <ul>Know the signs of infection.</ul>

                    <ul>Be careful and avoid falls.</ul>

                    <ul>Carefully adhere to restrictions.</ul>

                    <ul>Specific precautions to prevent dislocation of hip are available as separate documents.</ul>

                    <h3>Risks of not having Surgery</h3>

                    <ul>Progressive loss of movement at hip making it difficult to sit and climb stairs</ul>

                    <ul>Progressive shortening of lower limb and limp while walking</ul>

                    <ul>Degenerative changes in spine</ul>

                    <ul>Long delay and progressive destruction in the diseased hip can make the surgery more difficult and compromise outcome.</ul>

                    <h3>Getting ready for the surgery</h3>

                    <ul>List all the medications you are currently taking. You may be advised to stop certain medicines like clopidogrel and ecosprin a week before surgery. Talk to anesthetist regarding this issue at the time of your pre anesthesia checkup.</ul>

                    <ul>List any allergies or adverse reactions to drugs or anesthesia in past.</ul>

                    <ul>Bring your recent x-rays and all the medications you are taking at the time of hospital admission</ul>

                    As with all operative endeavors, there is a list of potential pitfalls, problems or complications. To name a few there is risk of Infection, clots forming in the veins of the leg travelling off to the heart and lungs, Pneumonia, Nerve Injury, compartment syndrome and loosening. All the necessary precautions are observed to minimize the risk of complications.                    </div></div></section></div>

<!--HIP FAQ-->      
<div class="container faq">
        <section>
                <div class="row">
                <div class="col-lg-10">
                <div class="container">
        <section>
                <div class="page-header">
            <h2>Frequently Asked Questions<br></h2></div> <!--End Page Header-->
            <!-- Start Panel Group -->
            <div class="panel-group" id="accordion"> 
            <!-- First Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When I shall be able to walk?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-1" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> Patients are usually made to walk on second day after operation; physiotherapist will be there to assist you. At the time of discharge you will be able to walk to toilet or bathroom on your own with the help of walker or cane. The ambulation may be delayed or the weight bearing may be restricted in case of bone quality.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End First Question -->

            <!-- Second Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What is the material used for replacement?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-2" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> The implant is a special highly polished alloy (Cobalt-Chrome) or ceramic head on femoral component articulating with high quality polyethylene.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Second Question -->

            <!-- Third Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> How long I have to stay in the hospital after surgery?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-3" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> In case you are getting one hip operated you will stay in the hospital for five days after surgery. In case, both the hips are operated together, duration of stay is for seven days after surgery.<br>

                                Instability may present with frank dislocation and abnormal movement at joint or subtle symptoms like Vague Anterior Knee Pain, Recurrent Effusions, Soft Tissue Tenderness and Difficulty Climbing up and down stairs.<br>

                                Infection may present with Increased pain, swelling in joint and discharging sinus. Fever may also be present without any other appreciable cause.<br>

                                Regular follow-ups with the clinician and interval radiographs are important to detect polyethylene wear or failure due to bone collapse earlier and limit the bone damage that may sue.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Third Question -->

            <!-- Forth Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-4" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> I am staying alone, how long I will need someone for help at home after discharge from hospital?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-4" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> As discussed above, you will be able to walk to toilet or bathroom on your own at the time of discharge, but, if you are staying alone, you should have someone around for a month after surgery to assist you in daily activities.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Forth Question -->

            <!-- Fifth Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-5" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I start driving?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-5" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> You can start driving after two months of surgery depending on the muscle strength and comfort.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Fifth Question -->

            <!-- Sixth Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-6" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I climb stairs?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-6" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> You can climb to first floor in one go approximately 3 – 4 weeks after surgery.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Sixth Question -->

            <!-- Seventh Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-7" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I travel abroad?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-7" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> Traveling in the city for short duration may be started after 2 – 3 weeks. Going out of city may be done approximately after a month. Overseas travel should ideally be undertaken 3 months after surgery.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Seventh Question -->

            <!-- Eight Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-8" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What are the lifelong precautions after surgery?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-8" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> <ul>1. Not to sit cross legged, squat or use an Indian toilet or a low chair.</ul>

                                                <ul>2. Avoid impact sports like jogging, jumping, badminton etc</ul>

                                                <ul>3. Antibiotic prophylaxis before any dental, gynaecological or urinary procedure.</ul>

                                                <ul>4. Specific precautions to prevent dislocation of hip are available as separate documents.</ul>
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Eight Question -->

            <!-- Ninth Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-9" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> How long I will need to do physiotherapy?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-9" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> You will be guided in your exercises by our team of physiotherapist during your stay in the hospital. After discharge you will need to continue with some easy exercises that you can do on your own. This may be required for a period of 6 – 8 weeks or till the time you are comfortable with your walking. Physiotherapist assistance after discharge may be required for 2 weeks.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Ninth Question -->

            <!-- Tenth Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-10" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> I am over weight, should I lose weight first and then undergo surgery?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-10" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> Thin patients are easy for us to operate and postoperative recovery is also good. But, losing weight and maintaining weight loss can be difficult in patients with osteoarthritis of the hip, since their symptoms often limit the amount and type of exercise in which they can participate.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Tenth Question -->

            <!-- Eleventh Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-11" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> How long are these joints going to last?</a>
                        </div><!--End Panel Title-->
                        <div id="collapse-11" class="panel-collapse collapse"> 
                            <div class="panel-body">
                                <b>A:</b> Life of the artificial joint depends on number of variables, including the type of activities you are engaged, quality of bone, whether you are overweight etc. Normally these joints have a finite lifespan of 15 – 20 years.
                            </div>
                        </div><!--end Panel Collapse-->

                    </div>

                </div>
            <!-- End Eleventh Question -->

            </div><!--End panel group-->
</section>

    </div><!--End Container-->
                </div><!-- end row-->
        </section>
    </div><!--End Container-->
<!-- End Hip FAQ -->


<!--footer-->
<footer>
            <hr>
        <div class="container text-center"> 

            <p>&copy; Copyright @ 2017 Centre for Joint Replacement</p>

        </div><!--End Container-->
    
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  