<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>KNEE REPLACEMENT</title>
	<meta name="description" content="Dr. Dua">
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
	body{
		
	}
</style>

<% end %>

	

<!-- <body data-spy="scroll" data-target="#my-navbar">
 --><!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->

<!--Upper Section-->

	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1>TOTAL KNEE REPLACEMENT</h1></div>
		<div class="row">
		<p></p></div>
	</div>
		<!--End Container-->


<!--Image Section-->
<div>
	<img src="/landing_page/knee.jpg" class="img-responsive">
</div>

<!--blog-->
	<div class="container kneeblog">
		<section>
				<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
				<!--Blog Starts-->
					<h3>Surgery and Hospital Stay</h3>
					<p>TOTAL JOINT REPLACEMENT is one of the most consistently successful therapeutic measures in all of medicine and surgery today. Overall patient satisfaction with the relief of pain and enhanced mobility is, in general, extremely high.<br><br>
 
					However as in all major surgical procedures, there are significant risks that patients will want to discuss carefully with their surgeon. Patients should ask their surgeon to explain any risks, or benefits, that will help them make an informed decision.<br><br>
					 
					The following text explains the key points about total knee replacement surgery and hospital stay.<br><br>
					 
					Once again, please keep in mind that procedures and protocols vary, sometimes widely, from surgeon to surgeon and hospital to hospital. Nevertheless, the goals of the process - to reduce pain and enhance mobility are substantially the same.<br><br>
					 
					We will be more than happy to answer your specific questions and explain how these procedures will be tailored to fit your personal condition and needs. Learn more about how your knees work</p>

					<h3>The Knee and the Arthritic Process</h3>

					<p>Total knee replacement is a procedure that is done for the severe arthritic joint, and only after other forms of treatment no longer have any benefit. It is not done for minor arthritic joint pain.The knee is what is commonly referred to as a “hinge” joint, although it is not as simple a hinge as those found on doors. The knee not only bends back and forth, but it also has some ability to move in a rotational manner.<br><br>
 
					The knee, a major weight bearing joint, is surrounded and held together by muscles, ligaments and other soft tissues. Cartilage is the material that “cushions” the knee and allows the joint to move in a smooth and free manner.As the arthritic process develops, the cartilage wears out, and the nerve endings that lie beneath the surface become irritated and produce the symptoms of pain.<br><br>
					 
					As the joint becomes more and more destroyed, the soft tissues offer less and less support. At that point, it is time to consider surgical replacement.
					 </p>

					<h3>The Surgical Procedure</h3>

					<p>The surgical procedure involves removing the diseased portions of the joint and replacing them with new  parts. Very accurate cuts are made on the under surface of the femur (thigh bone) to match the under surface of the femoral prosthesis so that they will fit together well and be both solid and stable. Similarly, accurate cuts are made to the top surface of the tibia (shin bone), and the tibial component is anchored in place.These components are then fitted together to allow the knee to bend back and forth and also have some of the rotational movement of the normal knee. Since the painful diseased cartilage (cushioning) has been removed, there is generally a very quick relief of pain, an outstanding feature of this procedure.The  surgical procedure for total knee replacement usually takes about two hours, and the new joint is often immediately solid. However, to strengthen the weakened muscles and soft tissue surrounding and supporting the joint requires a longer term program of exercise and physiotherapy. Although many patients see and feel immediate benefits, they must continue to rehabilitate themselves for several months to get the total benefit.</p>

					<h4>Anaesthetic</h4>

					<p>Anaesthetic has come a long way in the last 30 years. There are newer, more stable drugs and there is more accurate and more complete monitoring.There are however some risks involved which are largely related to the severity and amount of underlying diseases, such as heart, atherosclerosis (hardening of the arteries) or lung problems. With an increase in the amount of severity of these conditions, there is naturally an increase in the risk. Nevertheless, the safety record of anaesthetics today is very high.It is essential that patients tell their surgeon and anaesthetist, all of the medical conditions they have as well as all the medications that they are taking.</p>


					<h4>Hospital Stay -- Before Surgery</h4>
					<p>Most patients are admitted to the hospital the day before surgery. In many facilities, much of the pre-admission paperwork has already been done, and all the patient generally needs to do is sign the release forms.The patient is then taken to his or her room where the nursing personnel will greet them and explain how to operate the various controls in the room. They will be instructed in some of the simple exercises they will do after surgery; turning, coughing and deep breathing.<br><br>
 
					These are important exercises for clearing the lungs of anaesthetic and fluids that may collect.Prior to surgery, patients may receive a shave prep and an antiseptic scrub to the surgical area around the knee.The patient’s surgeon will be in at some point and probably the general physician, the anaesthetist and physiotherapist.</p>


					<h4>After Surgery -- The first few days</h4>
					<p>During the first few days after surgery, there is naturally some pain; this should be expected. It can be adequately controlled by medication.In spite of any mild discomfort, it is important that patients make the effort to do the deep breathing and physiotherapy exercises as instructed. Patients who breathe well and work at tightening their muscles, better their lung capacities and circulation, and they improve and get well faster.There are also certain restrictions that may be placed on patients early in the post-operative period in order to avoid unusual strains on the joint that could result in dislocation of the joint or disruption of the sutures. The nurses and therapists are very familiar with the procedures and will give instructions that can be easily handled.Exercise and PhysiotherapyOne of the most frequently asked questions is – “When can I start walking again?”While patients are often encouraged to stand and sit (with assistance) within 24 hours after surgery, walking is approach gradually and in a guided manner so as to avoid injury and complications. It is very important to rebuild and strengthen the muscles through isometric exercises.</p>
					

					<h4>Social Services</h4>
					<p>Many patients, especially those who live alone, are concerned about whether or not they will be able to manage for themselves in the first few weeks after they leave the hospital. If they should need assistance, they are concerned about who will pay for it.Insurance coverage for home care is generally limited, but there are agencies available which can provide some help. The will arrange someone to visit the home and show patients how to lay things out so they won’t have to worry about falling. There are a variety of Home Health Care agencies (e.g. Blue Nurses, St Lukes Nursing) that can arrange to help with needs like bathing and the preparation of meals.</p>

					<h4>Patient Involvement and Commitment</h4>
					<p>With TOTAL KNEE REPLACEMENT, the surgeon replaces the disease knee joint and, along with the physiotherapist and nursing staff, helps and guides the patient through the recovery process. However, rehabilitation is up to the patient. The patient must participate fully in the rebuilding and strengthening of weakened muscles. To get the total benefit of knee replacement, the patient must make a serious commitment to doing the prescribed exercises and developing and maintaining an active lifestyle.Usually you will have stiffness upon awakening in the morning that will gradually subside with movement. With extensive disease in the joint, you will feel pain and discomfort even without any movement at all.</p>

					

					</div>
				</div><!-- end row-->
		</section>
	</div><!--End Container-->



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Center for Joint Replacement</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<!-- </body>	
 -->
 </html>