<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>KNEE REPLACEMENT</title>
	<meta name="description" content="This document is designed to provide some useful information concerning arthritic conditions which affect the knee joint, the therapeutic modalities which are available to manage those conditions, and the possible or likely outcomes of those approaches.
">
	<meta name="keywords" content="Dr. Aman Dua, Dr. Dharmesh Khatri, Total Knee Replacement, Total Hip replacement, Revision Knee Surgery , Centre for Joint Diseases.">
   <meta name="author" content="Dr. Aman Dua">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="main.css" >
<style>
	body{
		
	}
</style>

<% end %>


	

<!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand"></a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="/landing_page" class="btn btn-info navbar-btn navbar-left">Back to Home</a>
		
		</div>
</div><!--End Container-->
</nav><!--End navbar-->

<!--Upper Section-->

	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1>TOTAL KNEE REPLACEMENT</h1></div>
		<div class="row">
		<p></p></div>
	</div>
		<!--End Container-->


<!--Image Section-->
<div>
	<img src="/landing_page/knee.jpg" class="img-responsive">
</div>

<!--blog-->
	<div class="container kneeblog">
		<section>
				<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
				<!--Blog Starts-->
					
					This document is designed to provide some useful information concerning arthritic conditions which affect the knee joint, the therapeutic modalities which are available to manage those conditions, and the possible or likely outcomes of those approaches.

					<h3>WHAT IS THE KNEE JOINT?</h3>

					The knee joint is composed of three separate bones. They are the lower end of the thigh bone (the femur), the upper end of the shin bone (the tibia) and the knee cap (the patella). These three bones are joined together in a loose arrangement by a surrounding capsule. In addition, there are special ligaments which blend with the capsule outside the knee and provide additional reinforcement. In particular, there are medial and lateral ligaments which help stop the thigh bone and the shin bone from moving sideways upon each other. There are also ligaments inside the knee joint. In particular, there are the anterior cruciate and the posterior cruciate ligaments. These ligaments provide stability in a frontwards to backwards direction, and also provide rotary stability. There are two cartilages or menisci within the knee. These serve to increase the surface area for load distribution, act as cushions or shock absorbers between the femur and the tibia. A normal joint contains between 0.5ml and 2ml of fluid. The knee joint is special in that the bones can hinge, glide and rotate. The joint surfaces are covered with hyaline cartilage.

					<h3>Arthritis</h3>

					A smooth, slippery, fibrous connective tissue called articular cartilage acts as a protective cushion between bones inside the joint. Arthritis develops as the cartilage begins to deteriorate or is lost because of wear and tear as part of aging or because of disease like Rheumatoid arthritis. As the articular cartilage is lost, joint space between the bones become narrow. This is an early sign of osteoarthritis and is easily seen on X-Rays. The synovium (a membrane that produces a thick fluid to nourish cartilage and keep it slippery) becomes inflamed and thickened. It may produce extra fluid that causes additional swelling. Slowly over time bone ends rub against each other and wear away.<br> 
					This results in the deformity of the joint. Normal activity becomes painful and difficult. Pain can even interfere with simple daily activities. <br><br>

					Common symptoms of arthritis include pain, stiffness, loss of joint motion, swelling, cracking sounds and changes in the shape or deformity of affected joint.

					<h3>Who develops arthritis?</h3>

					<ul>Knee arthritis typically affects patients over 50 years of age but may affect younger patients too.</ul>
					<ul>It is more common in patients who are overweight, or suffering from Rheumatoid arthritis or Ankylosing spondylitis. In some patients arthritis tends to run in families.</ul>
					<ul>Other factors that can contribute to developing knee arthritis include injury to the knee, and fractures to the bone around the joint.</ul>


			

					<h3>What is the treatment of knee arthritis?</h3>
					<h2>A. Non operative approaches</h2>

					These include a reduction in body weight, anti-inflammatory analgesic tablets supplements (Collagen compounds, Diacernin, Glucosamines, Chondritin etc.), physiotherapy, the use of a splint, the aid of a walking stick or crutches for ambulation, the use of a wheelchair and modification of the usual activities of daily living.<br><br>

					Other non-operative measures include the injection of cortisone (Steroid) compounds into the knee joint or the injection of artificial lubricants within the joint. The cortisone can serve to dramatically reduce the inflammation within the joint and may provide significant patient comfort. Unfortunately, these cortisone compounds (steroids) can have a deleterious effect on the cells that repair the cartilage surfaces, weaken bone and decrease resistance to infection. The artificial lubricants / Visco-supplements (Hyaluronic acid) may be useful in early stages of arthritis to relieve symptoms for variable period. The response to injections of this nature is quite variable and rarely is long-term symptomatic relief provided. In general terms, these forms of injection therapy should be restricted to patients in very special situations.

					<h2>B. Operative options</h2>
					There are many operative options available for patients with arthritis of the knee joint. It should be appreciated at the outset however that all orthopaedic conditions should be first managed non operatively. Indeed, operative measures should only be employed if there are specific indications. One such indication in arthritis of the knee would be a failure of the patient to respond in an appropriate symptomatic manner to an exhaustive non-operative therapeutic regimen.

					<h3>Osteotomy</h3>
					Patients who have a deformity as a result of arthritis of the knee are often excessively loading the diseased part of the knee. Every step they take, every move they make, the patient is aggravating the underlying arthritic problem. The rationale behind the osteotomy is to correct the deformity and redistribute the load bearing forces onto a better-preserved part of the knee joint itself.

					High Tibial Osteotomy is beneficial in early stages of osteoarthritis as the biomechanical forces are redirected; yet the patient maintains his or her own knee joint. The aim of this operation is to buy more time or useful miles from the joint before considering some form of knee joint replacement surgery.


					<h3>Knee Replacement</h3>
					<h2>Who need a knee Replacement?</h2>
					<i>If your answer is yes to most or all the questions, you probably are a candidate for knee replacement surgery.</i>
					<ul>Does severe knee pain limit your activities? (walking, climbing stairs, getting in and out of chair)</ul>
					<ul>Is your knee often swollen, not responding to medications or rest?</ul>
					<ul>Are your knees deformed?</ul>
					<ul>Are your knees stiff, which makes it difficult to bend or straighten?</ul>
					<ul>You don’t get satisfactory relief from pain killers and other conservative methods?</ul>

					<h3>Unicondylar Knee Replacement / Partial Knee Replacement</h3>
					Unicondylar replacement or Partial replacement can be considered if only the medial or inner compartment of knee is severely damaged and the other compartments, Patella and Ligaments are well or fairly preserved. Recovery after Partial Knee Replacement is expected to be faster than after Total Knee Replacement. During Partial Knee Replacement Procedure, A total Knee Replacement implant is kept on standby incase the lateral and the patellar compartment or Anterior Cruciate Ligament are found damaged.

					<h3>Total Knee Replacement</h3>
					This is indicated for patients who have severe multi-compartmental arthritis, and who are unable to tolerate the ongoing discomfort despite application of all of the non operative therapeutic measures described above.

					<h3>Procedure</h3>
					Knee joint is exposed using a midline incision on the front of knee. Joint is exposed after separating the muscle and cutting through the capsule. The worn and damaged surface of bone and cartilage from lower end of femur (thigh bone) and upper end of tibia (shin bone) are removed and shaped to accept the prosthetic metal implants. A plastic spacer is again inserted between these two components. The soft tissues around the knee are carefully balanced to correct the alignment of the joint and optimize the function of knee.

					<h3>Realistic expectations</h3>
					<ul>Ultimate goal of knee replacement surgery is pain relief and improved knee function.</ul>
					<ul>Knee replacement surgery will not treat pain arising from other joints or back.</ul>
					<ul>Discomfort and swelling may take some months to disappear.</ul>
					<ul>Restrictions like avoiding running, high impact aerobics and sports like tennis are to be practiced for rest of life.</ul>
					<ul>Extreme knee bending, squatting and sitting cross-leg although achievable in few, should be avoided to prevent wear or early loosening of implants.</ul>
					<ul>Knee replacements last many years, but may need revision surgery when they wear out or loosen.</ul>
					<ul>Some Patients experience numbness or paresthesia on outer aspect of knee after surgery.</ul>
					
					<h3>Points to remember after total knee surgery</h3>
					<i>After knee replacement, certain important aspects of your recovery need to be kept in mind:</i>

					<ul>Walking and limited post-op exercises are important and should be performed as instructed by your physiotherapist. These have to be continued lifelong.</ul>
					<ul>Balance rest and activity, especially early in your recovery.</ul>
					<ul>Follow instructions to prevent clots.</ul>
					<ul>Know the signs of infection.</ul>
					<ul>Be careful and avoid falls.</ul>
					<ul>Carefully adhere to restrictions.</ul>

					<h3>Getting ready for the surgery</h3>
					<ul>List all the medications you are currently taking. You may be advised to stop certain medicines like clopidogrel and ecosprin a week before surgery. Talk to anesthetist regarding this issue at the time of your pre anesthesia checkup.</ul>
					<ul>List any allergies or adverse reactions to drugs or anesthesia in past.</ul>
					<ul>Bring your recent x-rays at the time of hospital admission</ul>

					As with all operative endeavors, there is a list of potential pitfalls, problems or complications. To name a few there is risk of Infection, clots forming in the veins of the leg travelling off to the heart and lungs, compartment syndrome and loosening. Postoperative stiffness and swelling of the joint can also be problematic. All the precautions are taken to minimize the risk of complications.

					<!--KNEE FAQ-->		</div></div></section></div>



<div class="container faq">
		<section>
				<div class="row">
				<div class="col-lg-10">
				<div class="container">
		<section>
			<div class="page-header" ><h2>Frequently Asked Questions<br></h2></div> <!--End Page Header-->
			<!-- Start Panel Group -->
			<div class="panel-group" id="accordion"> 
			<!-- First Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-1" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When I shall be able to walk?</a>
						</div><!--End Panel Title-->
						<div id="collapse-1" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> You will be made to walk on second day after operation; physiotherapist will be there to assist you. At the time of discharge you will be able to walk to toilet or bathroom on your own with the help of walker or cane.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End First Question -->

			<!-- Second Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-2" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What is the material used for replacement?</a>
						</div><!--End Panel Title-->
						<div id="collapse-2" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> The implant is a special highly polished alloy (Cobalt-Chrome) femoral component articulating with high quality polyethylene.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Second Question -->

			<!-- Third Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-3" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> I am staying alone, how long I will need someone for help at home after discharge from hospital?</a>
						</div><!--End Panel Title-->
						<div id="collapse-3" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> As discussed above, you will be able to walk to toilet or bathroom on your own at the time of discharge, but, if you are staying alone, you should have someone around for four to six weeks after surgery to assist you in daily activities.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Third Question -->

			<!-- Forth Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-4" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I start driving?</a>
						</div><!--End Panel Title-->
						<div id="collapse-4" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> You can start driving after two - three months of surgery depending on the quadriceps strength and comfort.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Forth Question -->

			<!-- Fifth Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-5" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I climb stairs?</a>
						</div><!--End Panel Title-->
						<div id="collapse-5" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> You can climb to first floor in one go approximately 3 – 4 weeks after surgery.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Fifth Question -->

			<!-- Sixth Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-6" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> When can I travel abroad?</a>
						</div><!--End Panel Title-->
						<div id="collapse-6" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> Traveling in the city for short duration may be started after 2 – 3 weeks. Going out of city may be done approximately after a month. Overseas travel should be undertaken not before 3 months after surgery.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Sixth Question -->

			<!-- Seventh Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-7" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What are the life long precautions after surgery?</a>
						</div><!--End Panel Title-->
						<div id="collapse-7" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b><ul> 1. Not to sit cross-legged, squat or use an Indian toilet.</ul>

								<ul>2. Avoid impact sports like jogging, jumping, badminton etc</ul>

								<ul>3. Antibiotic prophylaxis before any dental, gynecological or urinary procedure.</ul>
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Seventh Question -->

			<!-- Eight Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-8" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> How long I will need to do physiotherapy?</a>
						</div><!--End Panel Title-->
						<div id="collapse-8" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> You will be guided in your exercises by our team of physiotherapist during your stay in the hospital. After discharge you will need to continue with some easy exercises that you can do on your own. This may be required for a period of 6 – 8 weeks or till the time you are comfortable with your walking. Physiotherapist assistance after discharge may be required for 2 weeks (for single knee) to 4 weeks (for both knees).
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Eight Question -->

			<!-- Ninth Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-9" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> I am over weight, should I lose weight first and then undergo surgery?</a>
						</div><!--End Panel Title-->
						<div id="collapse-9" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> Thin patients are easy for us to operate and postoperative recovery is also good. But, losing weight and maintaining weight loss can be difficult in patients with osteoarthritis of the knee, since their symptoms often limit the amount and type of exercise in which they can participate. But morbid obesity requiring bariatric surgery should be dealt before Knee replacement.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Ninth Question -->

			<!-- Tenth Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-10" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> How long are these joints going to last?</a>
						</div><!--End Panel Title-->
						<div id="collapse-10" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> Life of the artificial joint depends on number of variables, including the type of activities you are engaged, quality of bone, whether you are overweight etc. Normally these joints have a finite lifespan of 15 – 20 years.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Tenth Question -->

			<!-- Eleventh Question -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a href="#collapse-11" data-toggle="collapse" data-parent="#accordion"><b>Q:</b> What happens to pain arising in back or other joints after Total Knee Replacement?</a>
						</div><!--End Panel Title-->
						<div id="collapse-11" class="panel-collapse collapse"> 
							<div class="panel-body">
								<b>A:</b> Pain arising from other regions like Hips or Spine will not be relieved after Total Knee Replacement. Total Knee Replacement will relieve pain only arising from the knee.
							</div>
						</div><!--end Panel Collapse-->

					</div>

				</div>
			<!-- End Eleventh Question -->

			</div><!--End panel group-->

			</section>

	</div><!--End Container-->
				</div><!-- end row-->
		</section>
</div>



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Centre for Joint Diseases</p>

		</div><!--End Container-->
	
</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
